
<templates>
  <t t-name="Modal">
    <Portal target="'body'">
        <div class="owl-modal-supercontainer">
          <div class="owl-modal-backdrop"></div>
          <div class="owl-modal-container">
            <t t-slot="default" />
          </div>
        </div>
    </Portal>
  </t>

  <t t-name="Dialog">
    <Modal>
      <div class="owl-dialog-body">
        <t t-slot="default" />
      </div>
    </Modal>
  </t>

  <div t-name="Interstellar" class="owl-interstellar">
    <h4>This is a subComponent</h4>
    <p>The events it triggers will go through the Portal and be teleported
    on the other side of the wormhole it has created</p>
    <button t-on-click="trigger('collapse-all')">Close the wormhole</button>
  </div>

  <div t-name="App" t-on-collapse-all="state.dialog=false">
    <div t-esc="state.name"/>
    <button t-on-click="state.dialog = true">Open Dialog</button>
    <Dialog t-if="state.dialog">
      <div t-esc="state.text"/>
      <Interstellar />
    </Dialog>
  </div>
</templates>
