<templates>
  <button t-name="ToolbarButton" t-att-style="style">
    <t t-esc="props.name"/>
  </button>

  <div t-name="Toolbar">
    <ToolbarButton name="'A'"/>
    <ToolbarButton name="'B'"/>
    <ToolbarButton name="'C'"/>
  </div>

  <div t-name="App">
    <button t-on-click="toggleTheme">Toggle Mode</button>
    <Toolbar/>
  </div>
</templates>
